#__next {
    --primary: #c9d646;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #349520;
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #52a541;
    --bs-btn-hover-border-color: #48a036;
    --bs-btn-focus-shadow-rgb: 44, 127, 27;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #5daa4d;
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #349520;
    --bs-btn-disabled-border-color: var(--primary);
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}


table {
    th,
    td {
        vertical-align: middle;
    }
    th:first-child {
        width: 3rem;
        text-align: end;
    }
    th:last-child {
        width: max-content;
    }
    td:first-child {
        width: 3rem;
        text-align: end;
    }
    // tr:nth-child(even) td:first-child {
    //     background: #0068b3;
    // }
    // tr:nth-child(odd) td:first-child {
    //     background: #aebde1;
    // }
    // th:last-child,
    // td:last-child {
    //     background: #0068b3;
    // }
}
.back-to-top {
    display: flex;
    font-weight: bold;
    padding: 0.25rem;
    background-color: #000000;
    color: #133041;
    border-width: 3px;
    border-radius: 50px !important;
    svg {
        color: #c9d646;
        // background: -webkit-linear-gradient(transparent, transparent),
        //     -webkit-linear-gradient(top, rgb(201 214 70) 0%, rgb(201 214 70) 26%, rgb(201 214 70)
        //                 35%, rgb(201 214 70) 45%, rgb(201 214 70) 61%, rgb(201 214 70) 100%);
        background: -o-linear-gradient(transparent, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.alert.docs-creator {
    &:hover,
    &.active {
        border-color: var(--primary);
        color: #d5ad6d;
        background: linear-gradient(90deg, #16474d 0%, #12323d 50%, #133041 100%);
        h5 {
            color: #d5ad6d;
        }
    }
}
button.icon,
.back-to-top {
    align-items: center;
    color: #1f1f1f;
    font-size: 1rem;
    font-weight: bold;
    background: #133041;
    display: inline-grid;
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 5px;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    &.create {
        background: #71c9ff;
    }
    &.view {
        background: var(--success);
    }
    &.edit {
        color: #c9d646;
        background: linear-gradient(90deg, #557a3d 0%, #3a5628 50%, #375325 100%);
    }
    &.delete {
        color: #f7f7f7;
        background: #dc3545;
    }
    &:hover,
    &.active {
        // border-color: #100f0f;
        background: #375325;
        // background: linear-gradient(90deg, #16474d 0%, #12323d 50%, #133041 100%);
        // svg {
        //     background: -webkit-linear-gradient(transparent, transparent),
        //         -webkit-linear-gradient(top, #557a3d 0%, #3a5628  26%, #375325
                            
        //                     35%, #557a3d 45%, #3a5628 61%, #375325 100%);
        //     background: -o-linear-gradient(transparent, transparent);
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
        
    }
}
button {
    // &.succeed {
    //     font-weight: bold;
    //     color: dark;
    //     padding: 10px 10px;
    //     outline: none;
    //     background: var(--dark);
    //     margin-top: 0.75rem;
    //     border: 3px solid #000000;
    //     margin: 0.75rem;
    //     border-radius: 5px !important;
    //     &:hover,
    //     &.active {
    //         color: #d5ad6d;
    //         border-color: #d5ad6d;
    //         background: #ffffff;
    //         background: linear-gradient(90deg, #16474d 0%, #12323d 50%, #133041 100%);
    //     }
    // }
    // &.cancel,
    // &.cancel-primary {
    //     background: var(--success);
    // }
    &.succeed,
    &.succeed-primary {
        background: var(--success);
    }
}
.input-group-text {
    background-color: unset;
    border: unset;
}
.position {
    .dropdown-toggle {
        color: #000000;
        background-color: #e8e8e8;
    }
}
.fs-0-75 {
    font-size: 0.75rem;
}
.modal-data {
    height: 500px;
}
.modal-content {
    .page-change {
        height: 500px;
        .loading,
        .error {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .form-customer {
        height: 90vh;

        .model-body {
            overflow-y: auto;
        }
    }
}
.dcc-space-between {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.page-size {
    width: 80px;
    padding: 0.375rem 0.25rem 0.375rem 0.75rem;
}
.object-fit-cover {
    object-fit: cover;
}
.object-fit-contain {
    object-fit: contain;
}
.zoom {
    overflow: hidden;
    margin: 0 auto;
  }
  .zoom img{
    width: 100%;
    transition: 0.5s all ease-in-out;
  }
  .zoom:hover {
    transform: scale(1.5);
  }