.sidebar {
    .navbar {
        .navbar-nav {
            .dropdown-item,
            .nav-link {
                &:hover,
                &.active {
                    border-color: var(--primary);
                    color: #c9d646;
                    background: linear-gradient(90deg, #557a3d 0%, #3a5628 50%, #375325 100%);
                }
            }
        }
    }
}
